

<p>
  <strong>Place:</strong>
  <%= @castration.place %>
</p>

<p>
  <strong>Price:</strong>
  <%= @castration.price %>
</p>

<p>
  <strong>When:</strong>
  <%= @castration.when %>
</p>

<%= link_to 'Edit', edit_castration_path(@castration) %> |
<%= link_to 'Back', castrations_path %>
