<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-6 col-md-offset-2">
      <h2 class="gatos">Cadastro do meu gatinho</h2>
      <%= simple_form_for @gato do |f| %>
        <%= f.input :avatar, as: :file %>
        <%= f.input :name, label:'Nome'%>
        <%= f.input :gender,label:'Sexo' %>
        <%= f.input :race ,label:'Raça'%>
        <%= f.input :color ,label:'Cor'%>
        <%= f.date_select :age ,label:'Data nascimento'%>
        <%= f.input :status%>
        <%= f.text_area :description,label:'Descrição' %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
